<!doctype html>
<html ng-app="myApp">
<head>
    <title>BA Problem Page</title>
    <link href="styles.css" rel="stylesheet" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<script src="angular.js"></script>
	
	<script type="text/javascript">
		var app = angular.module('myApp',[]).controller('myController', function($scope,$filter){

			$scope.theFile = null;
			
			 $scope.setFile = function(element) 
			 	{
			    $scope.$apply(function($scope) 
					{
			        $scope.theFile = element.files[0];
			        });
			    };
			
			$scope.idSelectedRow = null;
			$scope.setSelected = function (index) 
				{
   				$scope.idSelectedRow = index;
				};
			
			$scope.environments = ["QA", "UAT", "ProdA"];
			$scope.statuses = ["Pending", "Assigned", "Completed"];
			
			$scope.selectedProblem =
				{
				assignee: '',
				title: '',
				description: '',
				date: '',
				status: '',
				environment: '',
				image: '',
				checked: false
				}
			
			$scope.problems = [
				{assignee: "Test Assignee",
				title: "Test Title",
				description: "Test Description",
				date: "Test Date",
				status: "Test Status",
				environment:"Test Environment",
				image:"images/testimage.JPG",
				checked: false}
			];
			
			$scope.problemsToAdd =
				[{
				assignee: '',
				title: '',
				description: '',
				date: '',
				status: '',
				environment: '',
				image: '',
				checked: false
				}];
			
			 $scope.add = function(problemToAdd) 
			 	{
				 var url = 'http://localhost:8080/PassiveDisplay/ProblemServlet';
				 alert($scope.theFile.name);
		        var fd = new FormData();        
		        fd.append("file", $scope.theFile.name);          
		        $http.post(url, fd)
		        .success(function(data, status, headers, config) {
		        	alert('success');
		            console.log('success');
		        })
		        .error(function(data, status, headers, config) {
		        	alert('error');
		            console.log('error');
		        });
				 	
				/*problemToAdd.date = $filter('date')(new Date(), 'short');
				problemToAdd.image = $scope.theFile.name;
    			var index = $scope.problemsToAdd.indexOf(problemToAdd);
			  	$scope.problemsToAdd.splice(index, 1);
    			$scope.problems.push(angular.copy(problemToAdd));
				 
				problemToAdd.title = null;
				problemToAdd.assignee = null;
				problemToAdd.description = null;
				problemToAdd.status = null;
				problemToAdd.environment = null;
				problemToAdd.image = null;
				problemToAdd.checked = false;*/
  				}
			 
			$scope.selectProblem = function(problem)
				{
				$scope.selectedProblem = problem;
				}
			
			$scope.isProblemChecked = function()
				{
				var temp = false;
				angular.forEach($scope.problems, function(value ,key)
					{
					if (value.checked)
						{
						temp = true;
						}
					})
				return (temp);
				}
			
			$scope.useCheckbox = function(problem)
				{
				if (problem.checked)
					{
					problem.checked = false;
					}
				else
					{
					problem.checked = true;
					}
				}
			
			$scope.assignProblems = function()
				{
				angular.forEach($scope.problems, function(value,key)
					{
					if (value.checked)
						{
						value.status = "In progress.";
						}
					})
				}
			
			$scope.dismissProblems = function()
				{
				angular.forEach($scope.problems, function(value,key)
					{
					if (value.checked)
						{
						var index = $scope.problems.indexOf(value);
  						$scope.problems.splice(index, 1);    
						}
					})
				}
			
			$scope.listIsEmpty = function()
				{
				var count = 0;
				angular.forEach($scope.problems, function(value,key)
					{
					count = count + 1;
					})
				return (count == 0)
				}
			});
	</script>
	
</head>
<body>
<div class="container" ng-controller="myController">
    <div id="problemListPage">
        <div id="currentProblemsPageHeader">
            <h2>Current Problems</h2>
        </div>
        <button class="problemButton" data-toggle="modal" data-target="#myModal" ng-disabled="isProblemChecked()" ng-class="{'editingOn' : isProblemChecked()}">Add Problem</button> 
        <button class="problemButton" ng-click="assignProblems()">Assign Problem</button> 
        <button class="problemButton" ng-click="dismissProblems()">Dismiss Problem</button>
        <br /><br />
        
        <table class="centered-table">
            <tr>
                <th>Select</th><th>Title</th><th>Date Created</th><th>Status</th>
            </tr>
            <tr ng-repeat="problem in problems" ng-click="selectProblem(problem); setSelected($index)" ng-class="{selectedRow: $index == idSelectedRow}">
                <td><input type=checkbox ng-model="checkbox" ng-change="useCheckbox(problem)"></td><td>{{ problem.title }}</td><td>{{ problem.date }}</td><td>{{problem.status}}</td>
            </tr>
        </table>
    </div>
    <div id="selectedProblemDisplay" ng-class="{'hiddenDiv': listIsEmpty()}">
        <div id="problemHeader">
            <span class="left">Assigned to: {{ selectedProblem.assignee }}</span> <span class="right">{{ selectedProblem.date }}</span>
        </div>
        <div id="problemContent">
            <strong>Title</strong>: <div id="selectedProblemTitle">{{ selectedProblem.title }}</div>
			<p></p>
            <strong>Description</strong>: <div id="descriptionDiv"> {{ selectedProblem.description }}</div>
			<br /> <br />
            <p><strong>Status</strong>: <span>{{ selectedProblem.status }}</span>
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;     
            <strong>Environment</strong>: <span>{{ selectedProblem.environment }}</span></p>
            <img ng-src="{{selectedProblem.image}}"/>
        </div>
    </div>
    
    <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">New Problem</h4>
        </div>
        <div class="modal-body">
			<form action="scripts/uploadPictureScript.php"  method="post" enctype="multipart/form-data">
			Assignee:<input type="text" class="form-control" ng-model="problemToAdd.assignee" required>
			Title:<input type="text" class="form-control" ng-model="problemToAdd.title" required>
			Description:<textarea class="form-control" ng-model="problemToAdd.description" required></textarea>
			Status:<select class="form-control" ng-model="problemToAdd.status" ng-options="status for status in statuses" required> </select>
			Environment:<select class="form-control" ng-model="problemToAdd.environment" ng-options="x for x in environments" required> </select>
			
			Image:
            <label>Select a picture:</label>
            <input type="file" name="fileName" onchange="angular.element(this).scope().setFile(this)"/>
            
			<br /> <br />
			<button class="form-control" type="submit" ng-click="add(problemToAdd)" data-dismiss="modal">Add</button>
			</form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
