@CHARSET "ISO-8859-1";

div.mainDisplayArea {
	border-width: 5px;
	border-bottom: 5px;
	border-style: solid;
	background-color: #4699ff;
  	width: 90%;
  	height: 850px;
  	margin:  auto;
  	margin-top: 10px;
}

div.content-grid {
	text-align: center;
}

div.mdl-cell {
	/* border-width: 2px;
	border-style: solid;
	background-color: #ffffff;
	height: 100px;*/
}

div.messageSection {
	border-width: 5px;
	border-top: 2px;
	border-style: solid;
	background-color: #ff0000;
  	width: 90%;
  	margin:  auto;
  	height: 50px;
}

label.message {
	font-size: 30px;
	font-weight: bold;
	color: #ffff00;
}

.env-card-square.mdl-card {
  width: 320px;
  height: 30px;
}

.env-card-square > .mdl-card__title {
  background-color: #a7d0fe;
}

.env-card-square > .mdl-card__supporting-text {
	background-color: #ff7575;
	height: 30px;
}

#file { display: none }