@CHARSET "ISO-8859-1";

body.MainDisplayArea {
  	width: 99%;
  	height: 98%;
    font-size: 50;
    font-family: monospace;
}

.BodyDiv {
    height: 100%;
}

p.HeaderTextStyle {
	font-weight: bold;
    font-size: 150%;
	margin: auto;
}

p.InfoTextStyle {
	display: none;
	font-weight: bold;
    font-size: 100%;
	margin-bottom: 10px;
    margin-top: 10px;
}

div.DropInfo table{
	
}

div.CIInfo {
	
}

div.InfoSectionStyle {
	text-align: center;
	background-color: #53BDD7;
    border-style: solid;
    border-width: 2px;
    min-height: 30%;
	display: block;
    padding-bottom: 10px;
}

div.RedmineSectionStyle {
	text-align: center;
	background-color: #DDCE9D;
  	height: auto;
    border-style: solid;
    border-width: 2px;
    border-top-width: 1px;
	display: block;    
    padding-bottom: 10px;
}

div.ProblemSectionStyle {
	text-align: center;
	background-color: #F7B695;
  	height: 10%;
    border-style: solid;
    border-width: 2px;
    border-top-width: 1px;
	display: block;
    padding-bottom: 10px;
}

.TableStyle {
	display: inline-block;
	border: 1;
	border-style: solid;
	border-color: black;
	border-radius: 10px;
    font-size: 100%;
}

.TableStyle td{
	padding: 5px;
}

.DropInfoTableStyle {
}

.CITableStyle {
}


.BuildingStyle {
	border-style: solid;
	background-color: #7EFA69;
}

.BrokenStyle {
	border-style: solid;
	background-color: #FF5454;
}

.StableStyle {
	border-style: solid;
	background-color: #D7FFFD;
}